{:deps    {org.clojure/tools.cli             {:mvn/version "0.3.5"}
           io.github.tstout/sys-loader       {:git/tag "v1.1.5"
                                              :git/sha "3e9a6e1"}
           io.github.tstout/ring-module      {:git/tag "v1.0.3"
                                              :git/sha "f9791bb"}
           com.github.tstout/conceal         {:git/url "https://github.com/tstout/conceal"
                                              :git/tag "v1.0.0"
                                              :git/sha "e9ab405"}
           com.github.seancorfield/next-jdbc {:git/tag "v1.2.724"
                                              :git/sha "de432a2"}
           org.clojure/tools.logging         {:mvn/version "1.2.4"}
           io.forward/clojure-mail           {:mvn/version "1.0.8"}}
 :aliases {:fin-data {:main-opts ["-m" "fin-data.core"]}
           :build    {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.1"
                                                                  :git/sha "7d40500"}}
                      :ns-default build}
           :dev      {:extra-paths ["dev"]}
           :test     {:extra-paths ["test" "test/resources"]
                      :extra-deps  {org.clojure/test.check                       {:mvn/version "0.10.0"}
                                    com.github.clojure-expectations/clojure-test {:git/sha "3a2188d"
                                                                                  :git/tag "v2.0.165"}
                                    com.github.pjstadig/humane-test-output       {:git/tag "0.11.0"
                                                                                  :git/sha "063ee9f"}}}
           :runner   {:extra-deps  {com.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                           :git/sha "dfb30dd"}}
                      :extra-paths ["test"]
                      :main-opts   ["-m" "cognitect.test-runner" "-d" "test"]}}
 :paths   ["resources" "src"]}
