[Unit]
Description=Fin Data
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
ExecStart=/home/pi/src/fin-data/run.sh
WorkingDirectory=/home/pi/src/fin-data
User=pi

[Install]
WantedBy=multi-user.target